@model PagedList.IPagedList<Models.ViewModel.OrderViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Danh sách đơn hàng</h1>
            <div class="card mb-4">

                <div class="card-body">
                    @using (Html.BeginForm("Index", "Order", FormMethod.Get))
                    {
                        <div class="row ">
                            <div class="col-md-8">
                                <input type="text" value="@ViewBag.SearchString" name="searchString" size="90" />
                            </div>
                            <hr>

                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a href="/admin/Order/Create" class="btn btn-primary">Thêm mới</a>
                            </div>
                        </div>

                    }
                    <hr />
                    <div class="table-responsive">

                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                                <tr>

                                    <th>ID</th>
                                    <th>UserID</th>
                                    <th>Total</th>
                                    <th>ShipName</th>
                                    <th>ShipAddress</th>
                                    <th>ShipEmail</th>
                                    <th>ShipPhone</th>
                                    <th>Status</th>
                                    <th>CreateDate</th>
                                    <th>#</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="row_@item.ID">

                                    <td><a href="/admin/Order/Detail/@item.ID">@item.ID</a></td>
                                    <td>@item.UserID</td>
                                    <td>@item.Total</td>
                                    <td>@item.ShipName</td>
                                    <td>@item.ShipAddress</td>
                                    <td>@item.ShipEmail</td>
                                    <td>@item.ShipPhone</td>
                                    <td>@item.Status</td>
                                    <td>@item.CreateDate</td>
                                    <td>
                                        <a href="/admin/Order/Edit/@item.ID">Sửa</a>
                                        @Ajax.ActionLink("Xóa", "Delete",new {@id=item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bản có muốn xóa bản ghi này ?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

</div>

